body {
    font-family: 'Open Sans', sans-serif;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.background .dot {
    position: absolute;
    background-image: url('../img/dot.png');
    width: 100%;
    height: 100%;
}

.background-img {
    min-height: 100%;
    min-width: 100%;
}

.header {
    width: 800px;
    margin: auto;
    padding-top: 25px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    text-align: center;
    text-shadow: 1px 1px 7px #fff, -1px -1px 1px #fff, 0 0 1px #fff;
}

.main {
    opacity: 0.95;
    width: 80%;
    min-width:1000px; 
    margin: auto;
    padding-top: 25px;
    height: auto;
    position: relative;
}

.main_img {
    width: 100%;
}

.champions {
    width: 80%;
    height: auto;
    margin: auto;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.instruction {
    margin: auto;
    width: 80%;
    text-align: center;
    color: #a0a064;
}

.champion_img {
    width: 3%;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    position: relative;
    z-index: 1;
}

.champion_img:hover {
    opacity: 0.5;
}

.champion_slot {
    width: 2.4%;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
}

.champion_slot:hover {
    border: 2px white groove;
}

.ui-state-active {
    width: 3.3%;
    box-shadow: 0px 0px 20px 5px #FFFFFF;
}

.ui-state-hover {
    box-shadow: 0px 0px 20px 5px #FFFFFF;
}

::-webkit-scrollbar {
      width: 0;
}

::-webkit-scrollbar
{
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: #a0a064;
}

#champion_stats {
    border-radius: 25px;
    border: 2px solid #8AC007;
    color: #8AC007;
    padding: 20px;
    background-size: 560px 380px;
    background-repeat: no-repeat;
}

.champion_stats_img {
    height: 100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
}

.champion_stats_img,
.champion_stats_info {
    display: inline-block;
    vertical-align: top;
}

.champion_stats_info {
    margin-left: 20px;
}

.champion_game_stats {
    padding-left: 20px;
}

.champion_game_stats_item {
    list-style: none;
    padding-top: 5px;
}

#role_chart {
    display: block;
    margin-left: 20px;
}

.ui-dialog-titlebar,
.ui-dialog-titlebar-close {
    display: none;
}

#champion_slot0 {
    left: 32%;
    top: 19%;
}

#champion_slot1 {
    left: 51%;
    top: 46%;
}

#champion_slot2 {
    top: 55%;
    left: 64%;
}

#champion_slot3 {
    top: 70%;
    left: 70%;
}

#champion_slot4 {
    top: 76%;
    left: 69%;
}

#champion_slot5 {
    top: 27%;
    left: 27%;
}

#champion_slot6 {
    top: 55%;
    left: 45%;
}

#champion_slot7 {
    top: 81%;
    left: 52%;
}

#champion_slot8 {
    top: 87%;
    left: 62%;
}

#champion_slot9 {
    top: 83%;
    left: 65%;
}

.matchup_slot {
    width: 2.4%;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
}

#matchup_slot0 {
    top: 23%;
    left: 29.5%;
}

#matchup_slot1 {
    top: 50.5%;
    left: 48%;
}

#matchup_slot2 {
    top: 66%;
    left: 60%;
}

#matchup_slot3 {
    top: 81%;
    left: 68.2%;
}

.top_partners,
.top_enemies,
#role_chart {
    display: inline-block;
}

.top_partners,
.top_enemies {
    vertical-align: top;
    text-align: center;
    height: 80px;
    width: 180px;
    margin-top: 25px;
}

.champion_stats_image {
    width: 35px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    padding: 8px;
}

.champion_matchup_blur {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: black;
    display: none;
}

.champion_matchup {
    z-index:999;
    position:fixed;
    right: 0;
    left: 0;
    margin: auto;
    height: 500px;
    width: 900px;
    top:0;
    bottom: 0;
    padding: 0;
    display: none;
}

.champion_matchup_top,
.champion_matchup_chart,
.champion_matchup_bottom {
    display: inline-block;
    margin-left: -3px;
    overflow: hidden;
    width: 900px;
}
.champion_matchup_top {
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.champion_matchup_champion_img_left_container {
    display: inline-block;
    width: 350px;
}

.champion_matchup_champion_img_left {
    width: 70px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}

.champion_matchup_champion_img_mid {
    width: 70px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}

.champion_matchup_champion_img_right_container {
    display: inline-block;
    width: 350px;
    margin-left: -30px;
}


.champion_matchup_champion_img_right {
    width: 70px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}

.champion_matchup_chart {
    height: 400px;
    color: white;
}

.champion_matchup_chart_item_container {
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.champion_matchup_chart_item {
    display: inline-block;
}

.champion_matchup_chart_item_bar_left_container {
    height: 35px;
    width: 350px;
    display: inline-block;
    text-align: right;
}

.champion_matchup_chart_item_bar_left {
    display: inline-block;
    height: 20px;
    -webkit-border-radius:50px;
    background-color: #FF6600;
}

.champion_matchup_chart_item_mid {
    height: 35px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.champion_matchup_chart_item_bar_right_container {
    height: 35px;
    width: 350px;
    display: inline-block;
    text-align: left;
}

.champion_matchup_chart_item_bar_right {
    display: inline-block;
    height: 20px;
    -webkit-border-radius:50px;
    background-color: #33CCFF;
}

#champion_table {
    width: 80%;
    min-width:1000px; 
    margin: auto;
    padding-top: 50px;
    height: auto;
}

#champion_table img {
    width: 50px;
}

.google-visualization-table-td,
.google-visualization-table-table {
    background-color: transparent !important;
    border: none !important;
}

.google-visualization-table-tr-odd {
    border: none !important;
}

.champion_table_header {
    font-size: 25px;
    height: 100px !important;
    border: none !important;
}

.champion_table_header,
.champion_table_row,
.champion_table_row_odd {
    color: white;
    border: none !important;
}

.champion_table_row_odd {
    background-color: #ececec !important;
    opacity: 0.6 !important;
    color: black;
}

.champion_table_cell {
    text-align: center !important;
    border: none !important;
    font-size: 20px;
    padding: 5px !important;
}

